<main class="card_content palette1">
  <div class="container">
    <button class="card_button-reset">
      <i class="far fa-trash-alt trash_icon"></i> Reset
    </button>
    <div class="card js-card">
      <div class="card_header">
        <h1 class="js-name card_name" data-placeholder="Nombre Apellido">Nombre Apellido</h1>
        <p class="js-job card_description">Front-end developer</p>
      </div>
      <div class="js-img card_img"><img class="" src="" alt="" /></div>
      <ul class="card_footer_list">
        <li class="card_footer_item">
          <a class=" js-phone card_link" href="" target="_blank"><i class="fas fa-mobile-alt"></i></a>
        </li>
        <li class="card_footer_item">
          <a class="js-email card_link" href="" data-prefix="mailto:" target="_blank">
            <i class="far fa-envelope"></i>
          </a>
        </li>
        <li class="card_footer_item">
          <a class="js-linkedin card_link" href="" data-prefix="https://www.linkedin.com/" data-placeholder="" target="_blank"><i class="fab fa-linkedin-in"></i></a>
        </li>
        <li class="card_footer_item">
          <a class="js-github card_link" href="" data-placeholder="" target="_blank"><i class="fab fa-github-alt"></i></a>
        </li>
      </ul>
    </div>
  </div>
</main>