<main class="main">
  <div class="container">
    <button class="main_button-reset">
      <i class="far fa-trash-alt"></i> Reset
    </button>
    <div class="card">
      <div class="card_header">
        <div class="blue-rectangle"></div>
        <div class="card_user-name">
          <h1 class="card_title">Nombre Apellido</h1>
          <p class="card_description">Front-end developer</p>
        </div>
      </div>
      <div class="card_img">
        <img
          src=""
          alt=""
        />
      </div>
      <div class="card_footer">
        <ul class="card_footer_list">
          <li>
            <div class="card_footer_item">
              <a href=""><i class="fas fa-mobile-alt"></i></a>
            </div>
          </li>
          <li>
            <div class="card_footer_item">
              <a href=""><i class="far fa-envelope"></i></a>
            </div>
          </li>
          <li>
            <div class="card_footer_item">
              <a href=""><i class="fab fa-linkedin-in"></i></a>
            </div>
          </li>
          <li>
            <div class="card_footer_item">
              <a href=""></a><i class="fab fa-github-alt"></i>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</main>
