<legend class="legend">
  <i class="legend_icon far fa-object-ungroup"></i>
  <h2 class="legend_title">Diseña</h2>
  <i class="fas fas fa-chevron-up legend_arrow"></i>
</legend>
<div class="tittlePalettes">
  <div class="design_palette-description">Colores</div>

  <div class="palettes">
    <section class="design_palette-option">
      <input class="form_item js-select1" type="radio" value="color" name="btn" checked/>
      <div class="design_palette item item_1"></div>
      <div class="design_palette  item item_2"></div>
      <div class="design_palette item item_3"></div>
    </section>

    <section class="design_palette-option">
      <input class="form_item js-select2" type="radio" value="color" name="btn" />
      <div class="design_palette item item_4"></div>
      <div class="design_palette item item_5"></div>
      <div class="design_palette item item_6"></div>
    </section>

    <section class="design_palette-option">
      <input class="form_item js-select3" type="radio" value="color" name="btn" />
      <div class="design_palette item item_7"></div>
      <div class="design_palette item item_8"></div>
      <div class="design_palette item item_9"></div>
    </section>
  </div>
</div>
