


<legend class="leyend">
  <i class="design_icon far fa-object-ungroup"></i>
  <h2 class="leyend_title">Diseña</h2>
  <i class="legend__arrow fal fa-arrow-down"></i>
</legend>
<div class="tittlePalettes">
  <span class="colours">Colores</span>

  <div>
    <section>
      <input class="form__item" type="radio" value="color" name="btn" />
      <spam class="box__1"></spam>
      <spam class="box__2"></spam>
      <spam class="box__3"></spam>
    </section>

    <section>
      <input class="form__item" type="radio" value="color" name="btn" />
      <spam class="box__4"></spam>
      <spam class="box__5"></spam>
      <spam class="box__6"></spam>
    </section>

    <section>
      <input class="form__item" type="radio" value="color" name="btn" />
      <spam class="box__7"></spam>
      <spam class="box__8"></spam>
      <spam class="box__9"></spam>
    </section>
  </div>
</div>
