<legend class="legend js-collapsible_trigger">
    <i class="far fa-keyboard legend_icon"></i>
    <h2 class="legend_title">Rellena</h2>
    <i class="fas fas fa-chevron-up legend_arrow js-arrow"></i>
</legend>

<div class="fill-in_items  js-collapsible_content">

    <div class="fill-in_item">
        <label class="fill-in_label" for="full_name">Nombre completo</label>
        <input class="js-name fill-in_input" id="full_name" type="text" name="name" placeholder="Hermione Granger" required/>
    </div>

    <div class="fill-in_item">
        <label class="fill-in_label" for="job">Puesto</label>
        <input class="js-job fill-in_input" id="job" type="text" name="job" placeholder="Front-end developer"/>
    </div>

    <div class="fill-in_item">
        <label class="fill-in_label" for="img-profile">Imagen de perfil</label>

        <div class="fill-in_buttonImg-wrapper">
            <input class="fill-in_button" id="img-profile" type="button" value="Añadir imagen" name="img-profile"/>
            <input name="photo" type="file" id="img-selector" class="action_hiddenField">
            <div class="img-profile_preview"></div>
        </div>
    </div>   

    <div class="fill-in_item">
        <label class="fill-in_label" for="phone">Teléfono</label>
        <input class="js-phone fill-in_input" id="phone" type="tel" minlength="9" name="phone" placeholder="678334765"/>
    </div>

    <div class="fill-in_item">
        <label class="fill-in_label" for="email">Email</label>
        <input class="js-email fill-in_input" id="email" type="email" name="email" placeholder="hermione-granger@gmail.com"/>
    </div>
        
    <div class="fill-in_item">
        <label class="fill-in_label" for="linkedin">Linkedin</label>
        <input class="js-linkedin fill-in_input" id="linkedin" type="text" name="linkedin" placeholder="hermionegranger"/>
    </div>

    <div class="fill-in_item">
        <label class="fill-in_label" for="github">Github</label>
        <input class="js-github fill-in_input" id="github" type="text" name="github" placeholder="hermione-granger"/>
    </div>
</div>