<main class="main">
    <div class="container">
      <button class="main_button-reset">
        Reset
      </button>
      <div class="card">
        <div class="card_header">
          <h1 class="card_title">Nombre Apellido</h1>
          <p class="card_description">Front-end developer</p>
        </div>
        <div class="card_img"><img src="" alt="" /></div>
        <div class="card_footer">
          <ul>
            <li>
              <div class="card_footer_item"><a href=""></a></div>
            </li>
            <li>
              <div class="card_footer_item"><a href=""></a></div>
            </li>
            <li>
              <div class="card_footer_item"><a href=""></a></div>
            </li>
            <li>
              <div class="card_footer_item"><a href=""></a></div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </main>
  