<main class="share_content">
    <legend class="share_legend">
        <i class="share_legend_icon fas fa-share-alt"></i>
        <h2 class="share_legend_title">Comparte</h2>
        <i class="share_legend_arrow fas fa-chevron-up"></i>
    </legend>

    <div class="share_button">
        <button type="submit" class="share_button_img">
            <i class="share_button_img_icon far fa-address-card"></i>
            Crear tarjeta
        </button>
    </div>

    <div class="completed_content">
        <h3 class="completed_content_title">La tarjeta ha sido creada:</h3>
        <a href="https://awesome-profile-card.com?id=A456DF0001" class="completed_content_url"
            target="_blank">https://awesome-profile-card.com?id=A456DF0001</a>
        <button type="submit" class="completed_content_button">
            <i class="completed_content_button_icon fab fa-twitter"></i>
            Compartir en twitter
        </button>
    </div>
</main>