<legend class="legend">
    <div class="legend_content">
        <i class="legend_content_icon fas fa-legend-alt"></i>
        <h2 class="legend_content_title">Comparte</h2>
        <i class="legend_content_arrow fal fa-arrow-down"></i>
    </div>
    <div class="legend_button">
        <button class="legend_button_img">
            <i class="legend_button_img_icon far fa-address-card"></i>
            Crear tarjeta
        </button>
    </div>
    <div class="completed_content">
        <h3 class="completed_content_title">La tarjeta ha sido creada:</h3>
        <a href="" class="completed_content_url"></a>
        <button class="completed_content_button">
            <i class="completed_content_button_icon fab fa-twitter"></i>
            <p class="completed_content_button_description">Compartir en twitter</p>
        </button>
    </div>
</legend>