<!DOCTYPE html>
<html lang="es">
  <partial src="_head.html"></partial>
  <body class="body">
    <main class="main">
      <div class="main_content">
        <img class="main_img" src="./assets/images/tarjetas-molonas.svg" />
        <div class="main_description">
          <h1 class="main_title">Crea tu tarjeta de visita</h1>
          <p class="main_text">Crea mejores contactos profesionales de forma fácil y cómoda</p>
        </div>
        <div class="main_actions">
          <partial src="_main_actions.html"></partial>
        </div>
        <button class="main_button"><a href="./editor.html" target="_blank">COMENZAR</a></button>
    <!-- He añadido el link al editor porque, por alguna razón, con el go live no se me carga, pero dirigiéndole desde aquí sí -->
      </div>
    </main>
    <partial src="_footer.html"></partial>
  </body>
</html>
