.card_content {
  display: flex;
  flex-direction: column;
  min-height: 460px;
  min-width: 320px;
  background-image: url(../images/green_background.jpg);
  background-size: cover;
  @media all and (min-width: $width-tablet) {
    border-radius: 6px;
    height: 1000px;
    margin: 0;
    // width: 329px;
  }
}
.container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  margin: 38px 45px 40px 35px;
  @media all and (min-width: $width-tablet) {
    margin: auto;
    position: relative;
    top: 173px;
    // margin: 173px 45px 260px 44px;
  }
}
.card {
  display: flex;
  flex-direction: column;
  width: 240px;
  background-color: $color-white;
  box-shadow: 0 1px 10px 0 rgba(0, 0, 0, -20), 0 1px 3px 0 rgba(0, 0, 0, 0.35);
  &_button-reset {
    align-self: initial;
    height: 30px;
    font-size: 12px;
    line-height: 1.67;
    text-transform: uppercase;
    color: $color-dark-gray;
    background-color: transparent;
    border: 1px solid $color-white;
    border-radius: 15px;
    padding: 5px 10px;
    margin-bottom: 20px;
    .trash_icon {
      margin-right: 8px;
    }
  }
  &_header {
    font-family: Montserrat;
    margin-top: 21px;
    margin-bottom: 10px;
  }
  &_name {
    font-size: 18px;
    font-weight: bold;
    line-height: 1.11;
    text-transform: capitalize;
    word-break: break-all;
    margin-left: 20px;
  }
  &_description {
    color: $color-dark-gray;
    font-size: 16px;
    font-weight: normal;
    line-height: 1.25;
    text-transform: initial;
    word-break: break-all;
    margin-left: 20px;
  }
  &_img {
    height: 200px;
    width: 100%;
    background-image: url(../images/sensejs_nomi.jpg);
    background-size: cover;
    background-position: center;
  }
  &_footer_list {
    list-style: none;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(4, 32px);
    text-align: center;
    margin: 10px 0 12px 20px;
  }
  &_footer_item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    width: 32px;
    height: 32px;
    border-radius: 16px;
  }
  &_link {
    text-decoration: none;
  }
}
.palette1 {
  .card_header {
    border-left: 5px solid $color-2-palette1;
  }
  .card_name {
    color: $color-1-palette1;
  }
  .card_footer_item {
    border: solid 2px $color-3-palette1;
  }
  .card_link {
    color: $color-link-deactivated;
  }
  .card_link[href]:not([href=""]) {
    color: $color-1-palette1;
  }
}

.palette2 {
  .card_header {
    border-left: 5px solid $color-2-palette2;
  }
  .card_name {
    color: $color-1-palette2;
  }
  .card_footer_item {
    border: solid 2px $color-3-palette2;
  }
  .card_link {
    color: $color-link-deactivated;
  }
  .card_link[href]:not([href=""]) {
    color: $color-1-palette2;
  }
}
.palette3 {
  .card_header {
    border-left: 5px solid $color-2-palette3;
  }
  .card_name {
    color: $color-1-palette3;
  }
  .card_footer_item {
    border: solid 2px $color-3-palette3;
  }
  .card_link {
    color: $color-link-deactivated;
  }
  .card_link[href]:not([href=""]) {
    color: $color-1-palette3;
  }
}
