.design_palette-description {
  color: $color-dark-gray;
  font-family: $primary-Font;
  font-size: 14px;
  text-transform: uppercase;
  width: 62px;
  height: 19px;
  margin-left: 10px;
}
.form_item {
  margin-right: 10px;
  //display: none;
}
.radio_btn {
  width: 17px;
  height: 17px;
  background-color: $color-white;
  border-radius: 50%;
  border: 1px solid $color-lighter-gray;
  margin-right: 5px;
}
input[type="radio"]:checked + label {
  width: 17px;
  height: 17px;
  background-color: $color-white;
  border-radius: 50%;
  border: 6px solid $color-deep-blue;
  margin-right: 10px;
}

.legend {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  cursor: pointer;
  &_icon {
    width: 21px;
    height: 18px;
    padding: 1px 0;
    margin-right: 10px;
    color: $color-dull-orange;
  }
  &_title {
    font-size: 18px;
    font-weight: 400;
    color: $color-dark-gray;
    text-transform: uppercase;
  }
  &_arrow {
    padding: 13px 0;
    margin-left: auto;
    color: $color-dark-gray;
    
  }

}
.tittlePalettes {
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px $color-lighter-gray;
}
.design_palette-option {
  display: flex;
  flex-direction: row;
}

.item {
  width: 30px;
  height: 25px;
  margin-bottom: 20px;

  &_1 {
    background-color: $color-1-palette1;
  }
  &_2 {
    background-color: $color-2-palette1;
  }
  &_3 {
    background-color: $color-3-palette1;
  }
  &_4 {
    background-color: $color-1-palette2;
  }
  &_5 {
    background-color: $color-2-palette2;
  }
  &_6 {
    background-color: $color-3-palette2;
  }
  &_7 {
    background-color: $color-1-palette3;
  }
  &_8 {
    background-color: $color-2-palette3;
  }
  &_9 {
    background-color: $color-3-palette3;
  }
}

//para javaScript

// .hidden {
//   display: none;
// }
// .js-collapsible_trigger {
//   cursor: pointer;
// }
// //open
// .js-collasible_content_open {
//   display: flex;
//   justify-content: space-between;
// }
// .js-arrow {
//   transform: rotate(-180deg);
// }
