.legend {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  cursor: pointer;
}
.legend_icon {
  width: 21px;
  height: 18px;
  padding: 13px 0;
  margin-right: 10px;
  color: $color-dull-orange;
}
.legend_title {
  font-size: 18px;
  font-weight: 400;
  color: $color-dark-gray;
  text-transform: uppercase;
}
.legend_arrow {
  padding: 13px 0;
  margin-left: auto;
  color: $color-dark-gray;
}

.tittlePalettes {
  display: flex;
  flex-direction: row;
}

.colours {
  color: $color-dark-gray;
  font-family: $primary-Font;
  font-size: 14px;
  text-transform: uppercase;
}
// .palettes {
//   display: flex;
//   flex-direction: column;
// }
.palette {
  display: flex;
  flex-direction: row;
}

.box {
  width: 30px;
  height: 25px;
  margin-bottom: 20px;
}

.box_1 {
  background-color: $color-1-palette1;
}
.box_2 {
  background-color: $color-2-palette1;
}
.box_3 {
  background-color: $color-3-palette1;
}
.box_4 {
  background-color: $color-1-palette2;
}
.box_5 {
  background-color: $color-2-palette2;
}
.box_6 {
  background-color: $color-3-palette2;
}
.box_7 {
  background-color: $color-1-palette3;
}
.box_8 {
  background-color: $color-2-palette3;
}
.box_9 {
  background-color: $color-3-palette3;
}
