.legend {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  cursor: pointer;
  &_icon {
    padding: 1px 0;
    margin-right: 10px;
    color: $color-dull-orange;
  }
  &_title {
    font-size: 18px;
    font-weight: 400;
    color: $color-dark-gray;
    text-transform: uppercase;
  }
  &_arrow {
    padding: 13px 0;
    margin-left: auto;
    color: $color-dark-gray;
  }
}
.fill-in {
  &_items {
    border-bottom: solid 1px $color-lighter-gray;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
  }
  &_item {
    display: flex;
    flex-direction: column;
  }
  &_label {
    font-size: 14px;
    color: $color-dark-green-blue;
  }
  &_input {
    &::placeholder {
      color: $color-very-light-gray;
    }
    border: solid 1px $color-hospital-green;
    min-width: 281px;
    height: 30px;
    font-size: 14px;
    color: $color-dark-green-blue;
    margin-top: 6px;
    margin-bottom: 20px;
    padding-left: 5px;
  }

  &_buttonImg-wrapper {
    display: flex;
    flex-direction: row;
  }
  &_button {
    height: 30px;
    width: 140px;
    font-size: 14px;
    color: $color-white;
    margin-top: 6px;
    margin-bottom: 20px;
    border: 0px;
    border-radius: 5px;
    background-color: $color-dull-orange;
    box-shadow: 0 0 5px $color-light-gray;
  }
}
.img-profile_preview {
  height: 30px;
  width: 30px;
  border: solid 1px $color-hospital-green;
  margin-top: 6px;
  margin-left: 20px;
}
.action_hiddenField {
  display: none;
}
.js-collapsible_content {
  display: none;
}
.js-collapsible_trigger {
  cursor: pointer;
}
