.footer {
  border-top: solid 1px $color-lighter-gray;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  @media all and (min-width: $width-tablet) {
    width: 768px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  &_small {
    margin-top: 18px;
    opacity: 0.5;
    font-size: 14px;
    color: $color-brownish-gray;
    @media all and (min-width: $width-tablet) {
      margin: 18px 0 22px 41px;
    }
  }
  &_img {
    width: 103px;
    margin-top: 12px;
    position: static;
    @media all and (min-width: $width-tablet) {
      margin: 10px 40px 10px 0;
    }
  }
}
