.header {
  &_container {
    background-color: $color-white;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 31px 0 30px 40px;
    margin-bottom: 0;
    height: 111px;
    width: 320px;
    margin-right: 10%;
    &_img {
      height: 50px;
      width: 201px;
      margin: 0;
    }
  }
}
