// .share_content {
//   @media all and (min-width: $width-tablet) {
//     border-radius: 6px;
//     height: 812px;
//     width: 329px;
//   }
// }

.share_legend {
  width: 100%;
  height: 50px;
  border: none;
  padding: 0;
  margin: 0;
  min-width: 320px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: nowrap;
  cursor: pointer;
  &_icon {
    color: $color-dull-orange;
    padding: 13px 0;
    margin-right: 10px;
  }
  &_title {
    color: $color-dark-gray;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase;
  }
  &_arrow {
    padding: 13px 0;
    margin-left: auto;
    color: $color-dark-gray;
  }
}

.share_button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  &_img {
    background-color: $color-dull-orange;
    font-family: "Open Sans", sans-serif;
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
    color: $color-white;
    border: none;
    border-radius: 12px;
    padding: 13px 17px;
    margin-top: 30px;
    margin-bottom: 30px;
    &_icon {
      font-size: 22px;
      margin-right: 9px;
      font-weight: 400;
      display: inline-block;
      font-style: normal;
    }
  }
}

// .js-collapsible_content {
//   display: none;
// }
// .js-collapsible_trigger {
//   cursor: pointer;
// }
// .js-arrow {
//   transform: rotateX(180deg);
// }
