$color-white: #ffffff;
$color-light-gray: #f5f5f5;
$color-dark-gray: #54585a;
$color-gray: #6b6b6b;
$color-dull-orange: #e17334;
$color-dark-green-blue: #114e3e;
$color-dirty-blue: #438792;
$color-hospital-green: #a2deaf

$width-tablet: 768px;
$width-desktop: 1200px;
